:host {
  display: block;
}

.checkbox {
  display: inline-flex;
  position: relative;
}

.checkbox > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #091731;
  border-radius: 7px;
  outline: none;
  transition-duration: 0.05s;
  cursor: pointer;
  background-repeat: no-repeat;
}

.checkbox > input:checked {
  border: 2px solid #091731;
  background-color: #091731;
  background-size: 70%;
  background-position: center;
}

.checkbox > input:disabled {
  border: 2px solid #a5a4a4;
  background-color: #a5a4a4;
  background-size: 40%;
  cursor: initial;
  background-position: center;
}
