:host {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: 'QuickSand';
  src: url('../../fonts/Quicksand-Regular.ttf');
}

.ef-button {
  width: 100%;
  cursor: pointer;
  height: 34px;
  border-radius: 12px;
  color: white;
  font-family: 'QuickSand', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: 2px solid;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ef-button:disabled {
  cursor: initial;
}
.imagen {
  max-width: 18px;
  max-height: 12px;
  margin-left: 7px;
}
