:host {
  display: block;
}
@font-face {
  font-family: 'QuickSand';
  src: url('../../fonts/Quicksand-Regular.ttf');
}

/* styles css for image icon */
.imagen {
  max-width: 1rem;
  max-height: 1rem;
  padding-right: 5px;
}

/* styles css for div input */
.input {
  font-family: 'QuickSand', sans-serif;
  position: relative;
  align-items: center;
  flex-direction: row;
  font-family: 'QuickSand', sans-serif;
  width: 100%;
  height: 45px;
  color: #091731;
  background: rgba(255, 255, 255, 0.8);
  border: 1.5px solid #939393;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
  display: flex;
  margin: 0;
  padding-right: 10px;
  padding-left: 5px;
  font-size: small;
}

/* styles css for hover input */
.input:hover {
  border: 1.5px solid #091731;
  outline: 0px solid;
}

/* styles css for focus  input */
.input:focus-within {
  border: 1.5px solid #67bf72;
}
.input:focus-within:hover {
  border: 1.5px solid #67bf72;
}
.input:focus-within > .form-control + .control-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-25px);
  transition: 0.2s ease-in-out transform;
 
}
.input:focus-within > .form-control::-webkit-input-placeholder {
  color: transparent;
}

.input:focus-within > .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}

/* styles css for input inside div */
.form-control {
  width: 100%;
  background-color: rgb(0, 0, 0, 0);
  border: 0px solid;
  outline: 0px solid;
  color: #091731;
}

/* styles css for label inside div */
.control-label {
  display: block;
  position: absolute;
  opacity: 0;
  bottom: 1.23rem;
  color: #a5a4a4;
  transition: 0.2s ease-in-out transform;
  font-size: 11.5px;
  font-weight: bold;
}

/* styles css for animation label hidden */
.form-control:placeholder-shown + .control-label {
  visibility: hidden;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

/* styles css for animation label visible above of div */
.form-control:not(:placeholder-shown) + .control-label,
.form-control:focus:not(:placeholder-shown) + .control-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-25px);
  transition: 0.2s ease-in-out transform;
}

/* style css for disable */
.disabled {
  background: #e4e4e4 !important;
  border: 1.5px solid #4b4b4b !important;
  cursor: initial !important;
}
.disabled > .control-label {
  color: #091731 !important;
}

.disabled + .error-message {
  color: #091731 !important;
}

.disabled > .form-control + .control-label,
.disabled > .form-control:focus + .control-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-25px);
  transition: 0.2s ease-in-out transform;
}


/* style css for error message */

.error {
  border: 1.5px solid #ee0000 !important ;
}
.error > .form-control {
  color: #ee0000;
}
.error > .form-control + .control-label {
  color: #ee0000;
}
.error > .form-control::-webkit-input-placeholder {
  color: #ee0000;
}

.error > .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ee0000;
}

.error-message {
  margin-left: 5px;
  display: flex;
  /* Mobile / Text field title */
  font-family: 'QuickSand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;

  /* identical to box height, or 156% */
  letter-spacing: 0.1 .5px;
  color: #ee0000;
}
