:host {
  display: flex;
  width: 100%;
  height: 100%;
}
.ef-tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ef-tabs-container__tabs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ef-tabs {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  overflow-x: auto;
  background-color: #182845;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.ef-tabs li button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: 0px solid;
  color: white;
  width: 90px;
  padding: 16px;
  height: 25px;
}
.ef-tab-button-icon {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}
.ef-tab-button-active {
  background-color: #091731;
}
.ef-tab-button-hidden {
  background-color: #182845;
  opacity: 0.98;
}
.ef-tabs-animation {
  position: absolute;
  height: 2px;
  bottom: 0;
  z-index: 0;
  min-width: 90px;
  max-width: 90px;
  background-color: white;
  transition: all 0.5s ease 0s;
}
.ef-tabs-animation-start,
.ef-tabs:nth-child(n):hover ~ .ef-tabs-animation {
  width: 100px;
  left: 0;
}
.ef-tabs-content {
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 38px;
  border-top-left-radius: 0px;
}
.ef-tab-content-active {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 38px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: white;
}
.ef-tab-content-hidden {
  display: none;
}

.ef-tab__arrow {
  padding-inline:5px ;
  width: 10px;
}
.ef-tab__arrow-left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}