:host {
  display: block;
}

.ef-carousel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
}
.ef-carousel__arrow {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 10px;
  z-index: 100;
}
.ef-carousel__arrow-left {
  left: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 10px;
}

.ef-carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 1;
}
